* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding-top: 300px;
}

.square {
    width: 200px;
    height: 200px;
    margin: 200px;
    display: inline-block;
    position: absolute;
}

.red {
    background-color: red;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.green {
    background-color: green;
    transition: transform 2s, width 2s, height 2s;
    top: 70px;
    left: 70px;
    z-index: 3;
}

.blue {
    background-color: blue;
    top: 130px;
    left: 130px;
    z-index: 2;
}

.green:hover {
    transform: rotate(-45deg) scale(1.5);
}